@using DevExpress.AspNetCore
@using DevExpress.DashboardAspNetCore
@using DevExpress.DashboardWeb

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
</head>
<body>
    <div style="position:absolute; top: 0; right:0; left:0; bottom: 0">
        @(Html.DevExpress()
            .Dashboard("clientDashboardDesigner1")
            .WorkingMode(WorkingMode.Designer)
            .ControllerName("CustomDashboard")
            .Width("100%")
            .Height("100%")
        )
    </div>
</body>
</html>
